
html {
	background-color: #CCFFFF;
}

h1{
	font-weight: bold;
	font-size: 3rem;
	font-style: none;
	font-family: 'Bevan', cursive;
	line-height: 1.5;
	text-align: left;
}

ul{
	list-style-type:disc;
	padding: 0;
}

a{
	color: black;
}

a:hover{
	color: #E6FFFF;
}

h2{
	font-weight: bold;
	font-size: 2 rem;
	font-style: none;
	font-family: 'Bevan', cursive;
	line-height: 1.5;
	text-align: left;
}

b{
	color: #526666;
}

blockquote{
	font-size: 1.5rem;
	font-style: italic;
	font-family: serif;
	line-height: 1.5rem;
	text-align: left;
	padding-left: 1rem;
}

cite{
	font-size: .8rem;
	font-style: none;
	font-family: serif;
	line-height: 1.5;
	text-align: right;
}

ol{
	list-style: lower-roman;
	padding: 0;
}

dl{
	font-family: sans-serif;
	line-height: 1.5;
	text-align: left;
}

dt{
	font-weight: bold;
}

figcaption{
	font-size: .8rem;
	font-family: sans-serif;
	font-style: italic;
}

ol{
	list-style-type: circle;
	font-family: sans-serif;
}

b.quotations{
	font-size: 2rem
}
